NODE_ENV=development
HOST=0.0.0.0
PORT=3000
DATABASE_URL="file:./dev.db"
JWT_SECRET="replace-with-a-random-secret-key-at-least-16-chars"

ADMIN_EMAIL="admin@sanpascual.gov.ph"
ADMIN_PASSWORD="AdminPass123!"
ADMIN_FIRST_NAME="System"
ADMIN_LAST_NAME="Administrator"
